<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>

<div id="navbar" class="ui inverted menu">
    <a id="homepage" class="active item" href="/">صفحه اصلی</a>
    <a id="login" class="active item" href="#">ورود</a>
    <a id="register" class="active item" href="\register">ثبت نام</a>


</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>