{% extends 'base.html' %}
{% block content %}
    <div id="all_courses">
        {% for course in courses %}
            <div class="{{ course.course_number }}_{{ course.group_number }}">
                <h4>{{ course.name }}</h4>
                <div>{{ course.department }}</div>
                <div>{{ course.first_day }} {{ course.second_day }}</div>
                <div>{{ course.start_time }} {{ course.end_time }}</div>
                <div>{{ course.teacher }}</div>

            </div>
        {% endfor %}
    </div>
    <form id="search_form" action="{% url 'edu:search_course' %}" method="POST">
        {% csrf_token %}
        <input name="search_query">
        <label>
            <input name="department" type="checkbox">دانشکده
        </label>
        <label>
            <input name="teacher" type="checkbox">استاد
        </label>
        <label>
            <input name="course" type="checkbox">درس
        </label>
        <button type="submit" name="submit">جستوجو</button>

    </form>

    {% if coursess %}
        <div id="search_result">
            {% for course in coursess %}
                <div class="{{ course.course_number }}_{{ course.group_number }}">
                    {{ course.name }}<br>
                    {{ course.teacher }}
                </div>
            {% endfor %}
        </div>

    {% endif %}


{% endblock %}