{% extends 'base.html' %}

{% block content %}
    <h2>ثبت نام</h2>
    <form id='register-form' method="post">
        {% csrf_token %}
        <label>
            نام<input name="first_name">
        </label>
        <label>
            نام خانوادگی<input name="last_name">
        </label>
        <label>
            نام کاربری<input name="username">
        </label>
        <label>
            ایمیل<input name="email">
        </label>
        <label>
            رمز عبور<input name="password1">
        </label>
        <label>
            تکرار رمز عبور<input name="password2">
        </label>
        <button type="submit" name="submit">ثبت نام</button>
    </form>
{% endblock %}